My name is {{name}} and today is {{date}}. Testing = {{myImg}}

# Hey! Welcome.
<p align='center'> Just note, this is a work  in progress. </p>

## Me - Josiah
I'm a 4th year applied mathematics student studying partial differential equations. On occasion, I have some coding to do for uni, but I also tinker with personal projects in my free time. I've been looking to take my coding up a notch and thought GitHub would be a good place to start!

This should be a picture of a random fox pulled from an API:
<p align="center">
    <img src="{{myImg}}"/>
</p>